{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto.

     * Create a button in `index.handlebars` that will submit the user input into the database. --}}

<div class="header-container">
  <header>Restaurant</header>
</div>

<div class="row" id="burgersAvail">		
		<div class="col-md-6">
			<h3>Restaurants</h3>
			<ul>
				{{#each burger_data}}
				{{#unless this.devoured}}	
				<br>			
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>					
				<form method="POST" action="/burgers/update?_method=PUT" class="button-size">
					<input type="hidden" name="burger_id" type="text" value={{this.id}}>					
					<button type="submit" class="btn btn-default">Devour it!</button>
					<br>
				</form>				
				{{/unless}}
				{{/each}}
			</ul>		
	</div>
  <div>
<div class="col-md-6" id="devoured">
		<h3>Restaurants you have visited</h3>
		<br>
		<ul>
		{{#each burger_data}}  {{#if this.devoured}}
		<li>
			<input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
			</li>
			{{/if}}
		{{/each}}
		</ul>
	</div>	
    <div>
  </section>
  <section id ="new-burger">
    <form class="create-update-form" action="/burgers/create" method="POST">

      <div class="form-group">
        <textarea id="new-burger-text" rows="4" name="burger_name"></textarea>
      </div>

      <button type="submit" id="new-burger-submit">Submit</button>
    </form>

    <p>Add a Restaurant! Click the "Submit" button.</p>

  </section>
  </div>
</div>